.hero-section {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0a0a;
  overflow: hidden;
  background-image: radial-gradient(rgba(179, 179, 179, 0.315) 1px, transparent 1px);
  background-size: 40px 40px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: -20%; 
  left: 0;
  width: 100%;
  height: 140%; 
  background-image: radial-gradient(rgba(219, 219, 219, 0.356) 1.5px, transparent 1.5px);
  background-size: 40px 40px;
  animation: dots-move 40s linear infinite;
  z-index: 1;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 95%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 95%);
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 10%, #0a0a0a 100%);
  z-index: 2;
  pointer-events: none;
}

@keyframes dots-move {
  0% {
    transform: translateY(100);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0.6;
  }
}
.mouse-dot-mask {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  /*mouse dot brightening*/
  background-image: radial-gradient(
    600px circle at var(--mouse-x, 0px) var(--mouse-y, 0px), 
    rgb(255, 255, 255), 
    transparent 40%
  );
  mask-image: radial-gradient(rgb(255, 255, 255) 1px, transparent 1px);
  mask-size: 40px 40px;
}

.hero-container {
  position: relative;
  z-index: 10; 
  max-width: 1000px; 
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
  gap: 30px;
}

.hero-title {
  font-size: 6rem; 
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.05em;
  color: #f7de1e;
  font-family: 'JetBrains Mono', monospace;
}

.hero-title .highlight {
  color: #ffffff;
}

.hero-description {
  font-size: 1.1rem; 
  color: #94a3b8;
  max-width: 600px;
  line-height: 1.3;
}
.hero-btns-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.hero-btn {
  /*global hero section button alignment*/
  min-width: 180px;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace; 
}

/*left button*/
.hero-btn.primary {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f7de1e86;
  
}
.hero-btn.primary:hover {
  background-color: #0a0a0a;
  color: #ffffff; 
  border: 1px solid #f7de1e86;
  transform: translateY(-1px);
  box-shadow: 0 10px 15px -3px #f7de1e54;
}


/*right button */
.hero-btn.secondary {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #f7de1e86; 
}

.hero-btn.secondary:hover {
  background-color: #0a0a0a;
  color: #ffffff;
  border: 1px solid #f7de1e86;  
  transform: translateY(-1px);
  box-shadow: 0 10px 15px -3px #f7de1e54;
}


/*tool section titles*/
.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #F7DF1E;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .hero-section {
    padding: 80px 20px 40px 20px; 
    display: block;
    min-height: auto;
  }

  .hero-container {
    min-height: auto;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .hero-content {
    align-items: center;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 1.2;
  }
  .hero-description {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .hero-btns-group {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .hero-btn {
    width: 100%;
    max-width: 320px; 
  }
}