.tool-container {
  /* prevent layout shift on mobile keyboard */
  transform: translateZ(0);
}
.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 55px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 2rem 200px;
   
  justify-items: center;
}

.tool-card {
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.05); 
  width: 280px;  
  min-height: 330px; 
  background-color: transparent;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px; 
  transition: all 0.3s ease;
}

.tool-card:hover {
  border-color: rgba(247, 223, 30, 0.3);
  transform: translateY(-10px);
  box-shadow: 0 10px 40px #f7de1e44;
}

/*tool card font and icons */
.tool-card .tool-icon {
  color: #ffffff7c;
  margin-bottom: 0.5rem;
  text-align: center;
  padding-top: 50px;
}

.tool-card h2, 
.tool-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffffad;
  margin: 15px 0 10px 0;
  text-align: center;
}

.tool-card p {
  font-size: 0.8rem;
  color: #94a3b8;
  margin: 0;
  text-align: center;
}

.jwt-input-main, 
.jwt-field-group textarea, 
.jwt-field-group pre,
.tool-textarea { 
  background-color: #2d2d2d !important; 
  border: 1px solid #2d2d2d;
  color: #e6edf3;
  border-radius: 12px;
  padding: 10px;
}

.jwt-input-main:focus,
.jwt-field-group textarea:focus,
.tool-textarea:focus,
.search-input:focus,
input:focus,
textarea:focus {
  outline: none !important;
  border-color: #F7DF1E !important; 
  box-shadow: none !important;    
}